
@{
    ViewData["Title"] = "Index";
}

<h2>Lista de Alumnos</h2>

<button id="listaAlumnosBoton" class="btn btn-primary">Listar Alumnos</button>
<button id="creaAlumnoBoton" class="btn btn-primary">Crear Alumno</button>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Fecha de Nacimiento</th>
            <th>Correo Electrónico</th>
        </tr>
    </thead>

    <tbody>
    </tbody>
</table>


<!-- Modal para crear estudiante -->
<div class="modal fade" id="crearAlumnoModal" tabindex="-1" role="dialog" aria-labelledby="crearAlumnoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="crearAlumnoLabel">Crear Alumno</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- El contenido del modal se carga aquí -->
                <div>
                    <form id="crearAlumnoForm">
                        <div class="form-group">
                            <label for="Name">Nombre</label>
                            <input type="text" id="nombre" name="nombre" class="form-control" />
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="Name">Apellido</label>
                            <input type="text" id="apellido" name="apellido" class="form-control" />
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="Name">Fecha Nacimiento</label>
                            <input type="datetime" id="fechanacimiento" name="fechanacimiento" class="form-control" />
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="Name">Correo Electrónico</label>
                            <input type="text" id="correoelectronico" name="correoelectronico" class="form-control" />
                        </div>
                        <br />
                        <button type="button" id="grabarAlumnoBoton" class="btn btn-success">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(document).ready(function()
    {
         $('#creaAlumnoBoton').click(function () {
            //Si quiero mostrar sin usar la vista parcial
            $('#crearAlumnoModal').modal('show');
        });


        $('#listaAlumnosBoton').click(function(){

            //alert('Llamada');
            GetAlumnos();
        });


        $('#grabarAlumnoBoton').click(function (event)
        {
            //alert('Llego al submit');

            event.preventDefault();
            
            $.ajax({
                type: "POST",
                url: "/AlumnosAjax/Create",
                data:{
                    nombre: $("#nombre").val(),
                    apellido: $("#apellido").val(),
                    fechaNacimiento: $("#fechanacimiento").val(),
                    correoElectronico: $("#correoelectronico").val()
                },
                success: function(response){
                    //alert('Registro exitoso');
                    //alert(response.message);

                    Swal.fire({
                      title: "Buen trabajo!",
                      text: response.message,
                      icon: "success"
                    });
                    
                    $('#crearAlumnoModal').modal('hide');
                    GetAlumnos();
                },
                error: function(){
                    alert('Hubo un error al enviar el formulario');
                }
            });
        });


        function GetAlumnos()
        {
             $.ajax({
                type: "GET",
                url: "/AlumnosAjax/Get",
                success: function (result) {

                    //console.log(result);

                    var tableBody = $('table tbody');
                     tableBody.empty(); // Vaciar la tabla

                    result.forEach(function (alumno) {
                        var newRow = `
                                        <tr>
                                            <td>${alumno.alumnoId}</td>
                                            <td>${alumno.nombre}</td>
                                            <td>${alumno.apellido}</td>
                                            <td>${alumno.fechaNacimiento}</td>
                                            <td>${alumno.correoElectronico}</td>
                                        </tr>`;
                        tableBody.append(newRow);
                    });
                },
                error: function () {
                    alert('Hubo un error al listar los estudiantes.');
                }
            });
        }
    });

</script>

